
@import './utilidades/typo';
@import './utilidades/reset';
@import './utilidades/colores'

@import './secciones/footer';
@import './secciones/header';
@import './secciones/main-index';
@import './secciones/contactos';
@import './secciones/Departamentos';
@import './secciones/Cercanía'
@import './secciones/Galería'












@keyframes entrada-salida {}










/* ******************************************
           RESPONSIVE --- MOVILE FIRST
 *********************************************
*/
@media (min-width: 425px) {
    .menu {
        flex-direction: row;
    }

    .img-logo {
        width: 230px;
    }

    .navbar {
        background-color: #800E13 !important;
        width: 100vw !important;
        height: 80px;
        font-family: 'Pacifico', cursive !important;
        font-family: 'Roboto Slab', serif !important;
        font-size: 10px !important;
    }

    .menu a {
        color: #e7e2e3;
        text-decoration: none;
        font-family: 'Pacifico', cursive;
        font-family: 'Roboto Slab', serif;
        font-size: 20px;

    }

    /* 
    .menu__inicio ul {
        height: 185.84px;
        width: 78vw;
        font-family: 'Pacifico', cursive;
        font-family: 'Roboto Slab', serif;
        font-size: 20px;
    } */

    .menu a:hover {
        font-size: 23px;

    }

    /* .menu__inicio:hover {
        scale: 1.3;
    } */
    main {
        width: 100vw;
    }

    h2 {
        font-family: 'Pacifico', cursive;
        font-family: 'Roboto Slab', serif;
        width: 80vw;
        text-align: center;
        align-items: center;
        color: #800E13;
        font-size: 18px;
        padding: 1rem;


    }

    h2 {
        width: 100%;
        text-align: justify;
        align-items: center;
        color: #800E13;
        font-size: 35px;
        padding: 2rem;
        /* padding-left: 10rem; */


    }

    .atributos {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 0px 0px;
        /* padding-left: 10rem; */
    }

    .atributos__1 {
        width: 33vw;
        height: 40vh;
        font-size: 28px;

    }

    .atributos__2 {
        width: 33vw;
        height: 40vh;

    }

    .atributos__3 {
        width: 33vw;
        height: 40vh;
        font-size: 28px;

    }

    .atributos__4 {
        width: 33vw;
        height: 40vh;

    }

    .atributos__5 {
        width: 33vw;
        height: 40vh;
        font-size: 28px;

    }

    .atributos__6 {
        width: 33vw;
        height: 40vh;

    }

    .invitacion {
        font-size: 25px;
        justify-content: center;
        align-items: center;
        padding: 1rem;
    }

    .invitacion__opciones {
        font-size: 20px;
    }

    .footer__título {
        font-size: 20px;
    }

    .footer__texto {
        font-size: 18px;
    }

    /* GALERÍA */
    section {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .galeria img {
        width: 25vw;
    }

    .galeria {
        width: 25vw;
        text-align: center;

    }

    .galeria P {
        font-size: 20px;
        padding-bottom: 1rem;

    }

    .galeria:hover {
        scale: 1.2;
    }

    /* CONTACTOS */
    .contacto {
        font-size: 26px;
        font-family: 'Merriweather', serif;
        font-family: 'Pacifico', cursive;
        font-family: 'Roboto Slab', serif;
    }



}

@media (max-width: 424px) {
    .navbar {
        background-color: #800E13 !important;
        width: 100vw !important;
        height: 60px !important;
        font-family: 'Pacifico', cursive !important;
        font-family: 'Roboto Slab', serif !important;
        font-size: 10px !important;
    }

}