/* SECCIÓN CONTACTOS */
.contacto {
    font-size: 16px;
    font-family: 'Merriweather', serif;
    font-family: 'Pacifico', cursive;
    font-family: 'Roboto Slab', serif;
    display: flex;
    justify-content: center;
}

